# Always ignore
.DS_Store
*.swp
.ipynb_checkpoints/
*.pyc
.bash_history
.snakemake
.conda
.cache
.ipython
.jupyter
.local
.theano

log
raw
ref
data
build
sdata
smeta

local.smk
env_local
config_local.yaml

nb/profile_default
