# Always ignore
.DS_Store
*.swp
.ipynb_checkpoints/
*.pyc
scripts/__pycache__/
.bash_history
.parallel
.snakemake
.conda
.cache
.ipython
.jupyter
.local
.theano
.nv
.wget-hsts

log
cluster_log
raw
ref
data
build
sraw
sdata
smeta
fig

local.smk
env_local
config_local.yaml

nb/profile_default
