notemp: true
local-cores: 6
latency-wait: 60
max-jobs-per-second: 10
printshellcmds: true
keep-going: true
resources: 'network_connections=3'
default-resources: ['pmem=8192', 'mem_mb=8192', 'disk_mb=100000', 'walltime_hr=0', 'walltime_min=29', 'walltime_sec=59']
use-conda: true
conda-frontend: 'mamba'
conda-prefix: '/pollard/home/bsmith/.snakemake/conda'
use-singularity: true
singularity-args: "--bind /pollard/shattuck0/ --bind /pollard/data/ --bind /pollard/home/bsmith/ --bind /wynton/group/pollard/bsmith-scratch/ --bind /scratch/"
singularity-prefix: "/pollard/home/bsmith/.snakemake/singularity"
config: ['MAX_THREADS=24', 'USE_CUDA=1', 'jupyter_port=8828']
cluster-config: 'profiles/qsub/cluster.yaml'
jobscript: 'profiles/qsub/jobscript.sh'
drmaa: " -cwd \
        -v PATH \
        -pe smp {cluster.procs} \
        -l h_rt={cluster.walltime},mem_free={cluster.pmem}M \
        -o {cluster.outdir} \
        {cluster.extra_qsub_flags} \
        -j yes \
        -terse \
        "
jobname: '{name}.{jobid}.snkjb'
